services:
  poll:
    build: ./poll
    ports:
      - "5000:80"
    environment:
      REDIS_HOST: redis
    depends_on:
      - redis
    networks:
      - poll-tier
    restart: always

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    networks:
      - poll-tier
      - back-tier
    restart: always

  worker:
    build: ./worker
    environment:
      REDIS_HOST: redis
      POSTGRES_HOST: db
      POSTGRES_PORT: "5432"
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    depends_on:
      - redis
      - db
    networks:
      - back-tier
    restart: always

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql:ro
    networks:
      - result-tier
      - back-tier
    restart: always

  result:
    build: ./result
    ports:
      - "5001:80"
    environment:
      POSTGRES_HOST: db
      POSTGRES_PORT: "5432"
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    depends_on:
      - db
    networks:
      - result-tier
    restart: always

networks:
  poll-tier:
  result-tier:
  back-tier:

volumes:
  db-data:
